@import "src/SCSS/mixins";

.container {
  width: 100vw;
  height: 100vh;
  @include flex(column, center, center, 50px);

  .logo {
    width: 500px;
    left: 20px;
  }

  .formBox {
    @include flex(column, "", center, 10px);
    width: 500px;

    & > :nth-child(n) {
      width: 100%;
    }

    & > button {
      font-weight: bold;
      background-color: #188bfa;
      color: #ffffff;
      border: none;
      width: 200px !important;
      height: 50px;
      margin-top: 40px;
    }
  }
}